* {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

body {
    margin: 0 auto;
}

/* HEADER STYLING */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 4rem 0rem 4rem;
}

.logo-bit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    background-image: url(/imgs/qb_logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 1rem;
    padding: 0;
}

nav li {
    background-color: #2C7CB5;
    padding: 0.2rem 0.6rem;
    border-radius: 4px;
    text-align: center;
}

header a {
    color: white;
    text-decoration: none;
}

header li:hover, header li:focus {
    text-decoration: underline;
    color: white;
}

.break {
    background-color: black;
    height: 0.1vh;
    width: 70vw;
    align-self: center;
}

/* MAIN STYLING */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 10px;
    margin: 4rem;
}

.study  {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    font-size: 6vw;
}

.no-margin {
    text-align: center;
    margin: 2rem 0 0 0;
}

.important-links {
    margin-top: 0px;
    width: 60%;
    background-color: #ebedf75f;
    border-style: solid none none none;
    border-color: #0b6fb7;
    border-width: 6px;
}

.important-links ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 200px;
}

.important-links li {
    display: flex;
    align-items: center;
}


.important-links a {
    text-decoration: none;
    color: black;
    text-align: center;
}

/* FOOTER STYLING */

footer {
    display: flex;
    background-color: #2C7CB5;
}

footer p {
    color: white;
    margin-left: 20px;
}

@media screen and (min-width: 940px) {

    /* HEADER STYLING */

    header {
        margin: 2rem 7rem 0rem 7em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .logo-bit {
        flex-direction: row;
        width: 400px;
    }

    header h2 {
        margin-left: 0.5vw;
    }

    nav {
        margin-top: 10px;
    }

    ul a {
        padding: 15px 8px;
    }

    header h2 {
        width: 300px;
    }

    header a {
        font-size: 14px;
    }

    /* MAIN STYLING */

    main {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        grid-gap: 10px;
        margin: 4rem;
    }
    
    .break {
        width: 59.6vw;
    }

    h1 {
        font-size: 40px;
        align-self: center;
    }

    h2 {
        margin-left: 4rem;
    }

    h4 {
        margin: 0 4rem 0 4rem;
    }

    .bullet-points {
        margin: 0 6rem;
    }

    .important-links {
        height: 80vh;
        width: 116.5vw;
    }
}